@import url('./assets/fonts/css/satoshi.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Satoshi-Regular;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  display: flex;
  flex-direction: column;
}

#root {
  flex-grow: 1;
  background-color: #FAF0E6;
}

p {
  font-family: Satoshi-Regular;
  font-size: 1.5rem;
}

.container {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  padding: 1rem;
}


nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  width: 50px;
  height: 50px;
}

.profile-img {
  height: 185px;
  width: 185px;
}

header {
  margin: 4rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  font-family: Satoshi-Variable;
  font-size: 2.44rem;
  font-weight: 900;
  letter-spacing: -1px;
  line-height: 1em; 

}

.sub-heading {
  font-family: Satoshi-regular;
  font-size: 0.8rem;
  color: #555555;
  opacity: 67%;
}

.accent {
  color: #FF634A;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
}

h2 {
  font-family: Satoshi-Bold;
  font-size: 1.95rem;
}

.description {
  font-family: Satoshi-Regular;
  font-size: 1rem;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  background-color: rgb(250, 202, 255);
  margin-top: 150px
}

.card {
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
  background: rgb(60, 1, 60);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  margin: 0 10px;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%)
  }
}



/* .tech-logo {
  height: 50px;
  width: 50px;
}

.skill-description {
  font-family: Satoshi-Medium;
  font-size: 1rem;
} */
